.meter-readings {
  display: block;
  width: 100%;

  table, tbody {
    width: 100%;
    border-spacing: 0;
  }

  tr {
    td {
      border-bottom: 1px solid #ddd;
    }

    &:last-of-type {
      td {
        border-bottom: 0
      }
    }
  }

  span {
    line-height: 30px;
  }

  &-row {
    border-bottom: 1px solid #ddd;
    text-align: center;

    &:last-of-type {
      border-bottom: 0;
    }
  }
}