.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: table;
}

.app {
  position: relative;

  &-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// temporary grid here
.row {
  display: flex;
}

.col {
  flex: 0 1 50%;
}