@keyframes ROTATE {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.spinner {
  display: block;
  border: 4px solid #ddd;
  height: 40px;
  width: 40px;
  background: red;
  animation: ROTATE 1s;
}